projekt/TollUtdij 2025.12/utdijpro-partner-portal/.DS_Store
projekt/TollUtdij 2025.12/.DS_Store
projekt/Tesztesetek/Asztali alkalmazás/.DS_Store
projekt/Tesztesetek/.DS_Store
projekt/Dokumentáció/Szoftverspecifikáció_NánásiRichárd_SimiczZalánZoltán_BobánPetrikJózsef.pdf
projekt/App/www/.DS_Store
projekt/App/Flutter/.DS_Store
projekt/App/.DS_Store
projekt/.DS_Store
.DS_Store
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/FileContentIndex/8a0247df-c383-48b4-95d7-6335232071c1.vsidx
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/FileContentIndex/ca3b2ec5-88ac-45ad-926f-0b9eac31a66b.vsidx
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/FileContentIndex/e1ec956c-615f-472a-9099-6eba20dcb7e6.vsidx
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/FileContentIndex/efbf9d45-3bde-4d87-9bb7-6fc92f63c8b3.vsidx
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/v17/.suo
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/v17/DocumentLayout.json
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/BCrypt.Net-Next.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/Microsoft.Bcl.AsyncInterfaces.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/Microsoft.Extensions.DependencyInjection.Abstractions.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/Microsoft.Extensions.Logging.Abstractions.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/MySqlConnector.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/System.Buffers.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/System.Diagnostics.DiagnosticSource.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/System.Memory.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/System.Numerics.Vectors.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/System.Runtime.CompilerServices.Unsafe.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/System.Threading.Tasks.Extensions.dll.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/TollÚtdíj.exe.config.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/TollÚtdíj.exe.deploy
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/Application Files/TollÚtdíj_1_0_0_3/TollÚtdíj.exe.manifest
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/autorun.inf
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/setup.exe
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/app.publish/TollÚtdíj.application
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/TollÚtdíj.application
projekt/Asztali alkalmazás/TollÚtdíj/bin/Debug/TollÚtdíj.exe.manifest
projekt/Asztali alkalmazás/TollÚtdíj/obj/Debug/DesignTimeResolveAssemblyReferences.cache
projekt/Asztali alkalmazás/TollÚtdíj/obj/Debug/TollÚtdíj.application
projekt/Asztali alkalmazás/TollÚtdíj/obj/Debug/TollÚtdíj.csproj.AssemblyReference.cache
projekt/Asztali alkalmazás/TollÚtdíj/obj/Debug/TollÚtdíj.csproj.GenerateResource.cache
projekt/Asztali alkalmazás/TollÚtdíj/obj/Debug/TollÚtdíj.exe.manifest
projekt/Asztali alkalmazás/TollÚtdíj/TollÚtdíj.csproj.user
projekt/Asztali alkalmazás/TollÚtdíj/obj/Debug/TollÚtdíj.csproj.GenerateResource.cache
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/v17/DocumentLayout.json
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/v17/DocumentLayout.backup.json
projekt/Asztali alkalmazás/TollÚtdíj/.vs/TollÚtdíj/v17/.suo
