projekt/TollUtdij 2025.12/utdijpro-partner-portal/.DS_Store
projekt/TollUtdij 2025.12/.DS_Store
projekt/Tesztesetek/Asztali alkalmazás/.DS_Store
projekt/Tesztesetek/.DS_Store
projekt/Dokumentáció/Szoftverspecifikáció_NánásiRichárd_SimiczZalánZoltán_BobánPetrikJózsef.pdf
projekt/App/www/.DS_Store
projekt/App/Flutter/.DS_Store
projekt/App/.DS_Store
projekt/.DS_Store
.DS_Store
