<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 35_DynamicWavesDark (14.1)</string>
	<string>M14.5-7045.0.17-4</string>
	<string>M15.1.1-7044.0.273-2</string>
	<string>G-r1510-15A344</string>
	<string>G-r1520-15B73</string>
</array>
</plist>
